<h4>Admin Component</h4>


<div  class="tableStyle" *ngIf="show">
  <h2 style="text-align: center">All users: </h2>
  <table class="table table-hover"  >
    <tr>
      <th>Login of a User</th>
      <th>Actions</th>

    </tr>

    <tr *ngFor="let u of users">
      <td>{{u.username}}</td>
      <td> <button (click)="deleteUser(u)">DELETE</button></td>
    </tr>
  </table>
</div>

<div id="modalMessage" class="modal">
  <div class="modal-response">
    <div>
      <h3>DO YOU REALLY WANT TO DELETE the ACCOUNT of: {{userToDelete.username}} ???</h3>

    </div>
    <button class="btn btn-info" (click)="closeModal()">Close</button>
    <button class="btn btn-danger" style="margin-left: 170px" (click)="deleteAnyway()">DELETE Anyway</button>
  </div>
</div>


<router-outlet></router-outlet>

