<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<div class="clearForm" *ngIf="showForm">
  <form #dateToDeleteForm="ngForm">
    <h3 style="color: snow">Delete form:</h3>
    <label>Date:<br>
      <input class="form-control"
             [(ngModel)]="dateToDelete" type="date"
             [ngStyle]="{border: dateToDeleteRef.invalid && dateToDeleteRef.dirty?
        '3px solid red': '3px solid green'}"
             ngModel
             #dateToDeleteRef = 'ngModel'
             required datatype=""
             name="dateToDelete" ></label><br>

    <button [disabled]="dateToDeleteForm.invalid"
            (click)="deletePurchase(dateToDeleteForm)" type="button">Delete</button>
  </form>
</div>

<div id="modalMessage1" class="modal">
  <div class="modal-response">
    <div>
      <h3>{{responseOnDelete}}</h3>

    </div>
    <button class="btn btn-info" (click)="closeModal()">Close</button>
    <button *ngIf="deleteAnywayBTN" class="btn btn-danger" style="margin-left: 170px" (click)="deleteAnyway()">DELETE Anyway</button>
 </div>
</div>

<router-outlet></router-outlet>
