
.bg{
  background: lightpink no-repeat center;
  background-size: auto;
  border-bottom: 3px solid black;
  padding-bottom: 20px;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}
